.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.no-wrap {
  white-space: nowrap;
}

.search-form-container {
  display: flex;
  justify-content:center;
  width: 100%;
}

.input-width {
  width: 100%;
}

